.app-container {
  width: calc(100% - 240px);
}

img {
  max-width: 100%;
  height: auto;
}

.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
}

.payments-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.money-btn {
  background-color: #b12872;
}

.money-btn:hover,
.money-btn:active,
.money-btn:focus {
  background-color: #791f4f;
}

.credits-count {
  font-size: 13px;
}

.credits-count span {
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}
